body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 13px;
}
#top-line {
    background-color: #1D6F42;
    color: #F8F8FF;
    text-align: center;
}
#head-row, #head-col {
    background-color: #f2f2f2;
    text-align: center;
}
#head-col{
	width: 5%
}
#source, #writers{
    color: #999;
    font-style: italic;
}
#source {
    text-align: left;
}
#writers {
    text-align: right;
}
#example-sentence, #user-input {
    text-align: left;
    font-size: 15px;
}